ul {
    list-style-type: none;
    margin: 0;
    padding: 1% 0%;
    overflow: hidden;
    background-color: white;
    position: sticky !important;
    top: 0 !important;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 2vw;
    font-size: 1.5vw;
    //font-size: 1.3vw;
    text-decoration: none;
}

.imgLogo {
    width: 10% !important;
    padding-top: 0.5%;
}

.img-logo-menu {
    width: 40%;
}

.p0 {
    padding: 0% !important;
}