<div mat-dialog-content>
    <div class="text-gray">
        <div class="text-center title-dialog">Política de tratamiento de datos</div>
        <div class="text-dialog">
            En cumplimiento de la Ley 1581 de 2012 y su Decreto Reglamentario 1377 de 2013, por medio de los cuales se
            dictan las disposiciones generales para la protección de datos personales en el territorio nacional, <b>El
                CAMPO AVENTURA</b>, Proyecto católico sin ánimo de lucro, el cual forma parte de la <b>COORDINACION DE
                INFANCIA Y ADOLESCENCIA DE LA ARQUIDIOCESIS DE BOGOTA. INFORMA</b> a la comunidad en general, que el
            tratamiento de los datos personales contenidos en los bancos o bases de datos, o en repositorios
            electrónicos de todo tipo con los que cuenta el <b>CAMPO AVENTURA</b>, sobre los cuales actúa como
            responsable de la <b>COORDINACION DE INFANCIA Y ADOLESCENCIA DE LA ARQUIDIOCESIS DE BOGOTA.</b>
            <div class="margin-top">
                Los datos personales proporcionados al <b>CAMPO AVENTURA</b> a través de inscripciones, registros,
                eventos han
                sido o serán recolectados, recaudados, almacenados, usados, circulados, suprimidos, procesados,
                compilados, intercambiados y actualizados para la finalidad que fueron suministrados, esto es para fines
                de promoción del <b>CAMPO AVENTURA</b> y demás programas de evangelización de la <b>COORDINACIÓN DE
                    INFANCIA Y
                    ADOLESCENCIA DE LA ARQUIDIOCESIS DE BOGOTA</b>
            </div>
            <div class="margin-top">
                Esta información es y será utilizada en el desarrollo de las funciones propias de la <b>COORDINACIÓN DE
                    INFANCIA Y ADOLESCENCIA DE LA ARQUIDIOCESIS DE BOGOTA</b> En su condición de garante del trabajo
                formativo.
            </div>
            <div class="margin-top">
                Conforme a lo anterior, el <b>CAMPO AVENTURA</b> solicita su autorización para uso de sus datos
                personales, de
                manera voluntaria, expresa, informada e inequívoca, tratamiento que se realizará de acuerdo con la
                política de tratamiento, privacidad y protección de datos personales del <b>CAMPO AVENTURA.</b>
            </div>
            <div class="margin-top font-w-bold">Definiciones</div>
            <div class="margin-top">
                <b>Autorización:</b> Consentimiento previo, expreso e informado del titular para llevar a cabo el
                tratamiento de datos personales.
            </div>
            <div class="margin-top">
                <b>Aviso de Privacidad:</b> Comunicación verbal o escrita generada por el Responsable, dirigida
                al Titular para el Tratamiento de sus datos personales, mediante la cual se le informa acerca
                de la existencia de las políticas de Tratamiento de información que le serán aplicables, la
                forma de acceder a las mismas y las finalidades del Tratamiento que se pretende dar a los
                datos personales.
            </div>
            <div class="margin-top">
                <b>Base de Datos:</b> Conjunto organizado de datos personales que sea objeto de tratamiento.
            </div>
            <div class="margin-top">
                <b>Dato Personal:</b> Cualquier información vinculada o que pueda asociarse a una o varias
                personas naturales determinadas o determinables.
            </div>
            <div class="margin-top">
                <b>Datos de menores de edad:</b> Se entiende por Datos de Menores de Edad, los datos
                personales de las niñas, niños y adolescentes (menores de 18 años).
            </div>
            <div class="margin-top">
                <b>Datos físicos y virtuales:</b> el almacenamiento y uso de los datos puede ser de manera
                digital o física, según la finalidad de estos sea necesario.
            </div>
            <div class="margin-top">
                <b>Datos sensibles:</b> aquellos datos relacionados con la intimidad del titular.
                Encargado del tratamiento: Persona natural o jurídica, pública o privada, que por sí misma
                o en asocio con otros, realice el Tratamiento de Datos Personales por cuenta del
                Responsable del Tratamiento en este caso, el <b>CAMPO AVENTURA</b>, Representada por el Coordinador
                <b>DE INFANCIA Y ADOLESCENCIA DE LA ARQUIDIOCESIS DE BOGOTA,
                    GONZALO BARON GALLO.</b>
            </div>
            <div class="margin-top font-w-bold">De los Derechos de los Menores de Edad:</div>
            <div class="margin-top">
                Los derechos de los niños, niñas y adolescentes tienen una protección especial y
                prevalecen en el tratamiento de los datos personales. De acuerdo con lo anterior, La
                <b>COORDINACIÓN DE INFANCIA Y ADOLESCENCIA DE LA ARQUIDIOCESIS DE
                    BOGOTA.</b> Velará por el adecuado uso de los mismos.
            </div>
            <div class="margin-top">
                Para el tratamiento de los datos personales de los menores de edad deberán cumplirse los
                siguientes parámetros:
            </div>
            <div class="margin-top padding-left">
                a) La finalidad del tratamiento responderá en todo momento al interés superior de los
                niños, niñas y adolescentes.<br>
                b) Asegurar el respeto de los derechos fundamentales de los niños, niñas y
                adolescentes.<br>
                c) Tener en cuenta la opinión del menor de edad de acuerdo con su madurez.<br>
                d) Cumplir con los requisitos previstos en la Ley 1581 de 2012, el Decreto 1377 de
                2013, la Sentencia C-748 de 2011 y las normas legales vigentes que regulen lo
                relacionado con la protección de los datos personales.<br>
                e) Los derechos de los niños, niñas o adolescentes se ejercerán por las personas que
                estén facultadas para representarlos. De esta forma, es necesaria la autorización
                previa otorgada por el representante legal para el tratamiento de los datos
                personales del menor de edad.
            </div>
            <div class="margin-top font-w-bold">Finalidad de la información recolectados, recaudados, almacenados,
                usados, circulados, suprimidos, procesados, compilados
            </div>
            <div class="margin-top padding-left">
                a) Para el uso o la reproducción de las secuencias filmadas en vídeo, fotografías o
                grabaciones de la voz realizadas en el <b>CAMPO AVENTURA</b> y la <b>COORDINACIÓN
                    DE INFANCIA Y ADOLESCENCIA DE LA ARQUIDIOCESIS DE BOGOTA</b> <br>
                b) El uso de la imagen o de la voz del participante, será principalmente para fines de
                la enseñanza o de la promoción de programas de evangelización. <br>
                c) Publicarlas en diferentes medios de comunicación (revistas, web, Facebook,
                Instagram) <br>
                d) Llevar a cabo actividades/campañas de recolección de recursos, agradecimientos y
                Mercadeo. <br>
                e) Utilizar la información para realizar estudios y desarrollos encaminados al
                mejoramiento del <b>CAMPO AVENTURA.</b><br>
                f) Cualquier otra finalidad que resulte a partir de la relación entre el Titular de los Datos<br>
                g) Personales y la <b>COORDINACIÓN DE INFANCIA Y ADOLESCENCIA DE LA
                    ARQUIDIOCESIS DE BOGOTA</b> o de la autorización dada por el Titular.
            </div>
            <div class="margin-top font-w-bold">Área Encargada de la Atención de Consultas, Peticiones y Reclamos De Los
                Titulares
            </div>
            <div class="margin-top">
                El área encargada en materia de atender las consultas, peticiones y reclamos, y en general
                vigilar el cumplimiento de la Ley aplicable al interior del <b>CAMPO AVENTURA</b> es la
                <b>COORDINACIÓN DE INFANCIA Y ADOLESCENCIA DE LA ARQUIDIOCESIS DE BOGOTA.</b>
            </div>
            <div class="margin-top">
                Los Titulares podrán ejercer sus derechos mediante comunicación verbal, radicando una
                comunicación escrita y/o enviando un correo electrónico, a través de cualquiera de los
                siguientes canales de contacto:
                <br>
                Correo electrónico: gonzobaron@gmail.com
                <br>
                Tel: 320 822 82 92
            </div>
            <div class="margin-top font-w-bold">Fecha de Entrada en Vigencia</div>
            <div class="margin-botton">La presente versión de esta Política entró en vigencia el día 01 de junio de 2022.</div>
            <img class="width-23" src="../../../../../assets/images/image-11.png">
            <div class="margin-top font-w-bold">Gonzalo Barón Gallo</div>
            <div class="margin-botton">
                Coordinación de infancia y adolescencia <br>
                Arquidiócesis de Bogotá <br>
                Fundador campo aventura <br>
                gonzobaron@gmail.com
            </div>
        </div>
    </div>
</div>
<!-- <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true">Cerrar</button>
</div> -->