.text-dialog{
    font-size: 1.2vw;
    margin: 5% 3%;
}

.title-dialog{
    padding: 5%;
    background-color: #1a468e;
    color: white;
    font-size: 3.5vw;
    font-weight: 900;
}

.padding-left {
    padding-left: 2%;
}