<img src="../../../../assets/images/image-02.png" width="100%">
<div class="background-green text-white size-text-container text font-w-none text-center">
    “Frase inspiradora que elijamos”
    <div class="text p-relative float-right font-w-bold cursive-text margin-top">El que la diga</div>
</div>
<div class="text-gray size-text-container text font-w-none">
    <b>En Campo Aventura </b>nos destacamos por un fuerte compromiso, actitud de servicio, liderazgo, creatividad,
    proactividad y transparencia en todas nuestras actividades diarias. <b>Estas cualidades han sido fundamentales</b>
    para crear una red de trabajo, conformada en su mayoría por jóvenes, aunque sin excluir la sabiduría de los adultos.
</div>
<div class="width-100 text-white background-red display-container padding-title margin-botton">
    <div class="width-50 text-center">
        <img class="p-relative size-img-team" src="../../../../assets/images/image-06.png">
    </div>
    <div class="col float-left width-50">
        <div class="text line-text text-container-right">
            Dentro de Campo Aventura nos hemos especializado en el acompañamiento de niños, niñas y adolescentes con
            edades comprendidas entre los 7 y 18 años, pertenecientes a todos los estratos la ciudad de Bogotá, que
            provienen de comunidades parroquiales, colegios, referidos de participantes anteriores y acompañantes de la
            experiencia.
        </div>
    </div>
</div>
<div class="width-100 text-gray display-table margin-botton">
    <div class="col float-left border-right-dotted text-center padding-container">
        <div class="title text-blue margin-botton letter-board">Equipos</div>
        <div class="background-white size-card-small">
            <div class="text">Director general</div>
        </div>
        <div class="background-white size-card-small">
            <div class="text">Director de campo</div>
        </div>
        <div class="background-white size-card-small">
            <div class="text">Logística</div>
        </div>
        <div class="background-white size-card-small">
            <div class="text">Seguridad</div>
        </div>
        <div class="background-white size-card-small">
            <div class="text">Enfermería</div>
        </div>
        <div class="background-white size-card-small">
            <div class="text">Dirigentes</div>
        </div>
    </div>
    <div class="col float-left width-50 margin-top text-center">
        <div class="title text-blue margin-botton letter-board">Acompañamiento</div>
        <div class="background-white size-card-small">
            <div class="text">Físico</div>
        </div>
        <div class="background-white size-card-small">
            <div class="text">Espiritual</div>
        </div>
        <div class="background-white size-card-small">
            <div class="text">Psicológico</div>
        </div>
        <div class="background-white size-card-small">
            <div class="text">Del buen trato</div>
        </div>
        <div class="background-white size-card-small">
            <div class="text">Papás universales</div>
        </div>
    </div>
</div>
