<img class="width-100" src="../../../../assets/images/image-01.png">
<div class="width-100 margin-botton text-gray">
    <div class="col float-left width-50">
        <div class="padding-left-text">
            <div class="title text-red width-100 letter-board">¿Quiénes somos?</div>
            <div class="border-botton-red width-80"></div>
            <div class="text text-container-left background-white line-text">
                Campo Aventura es un proyecto formativo que se basa en la metodología de la Educación Experiencial, que
                nació hace 10 años, con el fin de crear un espacio donde los valores inspirados en la figura de Jesús se
                convierten en la brújula de nuestras vidas, guiándonos hacia el modelo de persona que Dios anhela que
                seamos.
            </div>
        </div>
    </div>
    <div class="col float-left width-50 text-center">
        <img class="p-relative margin-image-1" src="../../../../assets/images/image-03.png">
    </div>
</div>
<div class="width-100 margin-botton text-gray background-yellow display-container padding-title">
    <div class="width-50 text-center">
        <img class="p-relative margin-image-1" src="../../../../assets/images/image-04.png">
    </div>
    <div class="col float-left width-50">
        <div class="padding-title">
            <div class="title width-100 title-gray letter-board margin-title">¿Vamos solo a rezar?</div>
            <div class="border-botton-gray width-80 margin-title"></div>
        </div>
        <div class="text line-text text-container-right">
            Desde el amor y la pasión por Colombia, Campo Aventura se enraíza en la identidad cultural y la importancia
            de la familia. Aquí, exploramos los sueños y cómo transformarlos en realidades desde la misma infancia. La
            naturaleza, la oración, el deporte, el arte y la música se convierten en nuestras herramientas para crear
            momentos de reflexión profunda y diversión inigualable.
        </div>
    </div>
</div>
<div class="width-100 margin-botton text-gray">
    <div class="col float-left width-50">
        <div class="padding-left-text">
            <div class="title text-green width-100 letter-board">¿Qué queremos lograr?</div>
            <div class="border-botton-green width-100"></div>
            <div class="text text-container-left background-white line-text">
                Nuestro principal objetivo es presentar un rostro auténtico de un “Jesús adolescente” a través de
                actividades al aire libre y encuentros vivenciales adaptados a su entorno. En Campo Aventura, cada
                actividad está diseñada para que los voluntarios (a quienes llamamos dirigentes) y los participantes
                descubran su potencial de crecimiento personal.
            </div>
        </div>
    </div>
    <div class="col float-left width-50 text-center">
        <img class="p-relative margin-image-2" src="../../../../assets/images/image-05.png">
    </div>
    <br><br>
</div>
<div class="width-100 text-gray background-white display-container padding-title margin-top">
    <!-- <div class="border-botton-blue"></div> -->
    <div class="width-50 text-center padding-title">
        <img class="p-relative size-img-small" src="../../../../assets/icons/icon-15.png">
        <img class="p-relative size-img-small" src="../../../../assets/icons/icon-18.png">
        <img class="p-relative size-img-small" src="../../../../assets/icons/icon-16.png">
        <img class="p-relative size-img-small" src="../../../../assets/icons/icon-17.png">
    </div>
    <div class="col float-left width-50">
        <div class="padding-title width-100">
            <div class="title text-blue letter-board margin-title">Campo Aventura, <br> Un espacio seguro</div>
        </div>
        <div class="text line-text text-container-right">
            Contamos con rigurosos protocolos y manuales de conducta que garantizan un entorno seguro para todos los
            participantes. Nuestros dirigentes reciben formación continua y actualizaciones sobre las normas y prácticas
            relacionadas con el cuidado de menores.
            <br> <br>
            Estamos plenamente comprometidos en la creación y mantenimiento de espacios seguros para todas las personas
            que forman parte de nuestro proyecto. La confianza es fundamental para nosotros, y trabajamos
            incansablemente para asegurar que todos los niños, niñas y adolescentes, vivan una experiencia enriquecedora
            y segura en Campo Aventura.
        </div>
    </div>
</div>
<div class="background-blue text-white size-text-blue text font-w-none">
    “La iglesia tiene que ser el hogar de todos, pero un hogar seguro, donde NADIE DUDE, que sus niñas, niños, sus
    jóvenes y adultos vulnerables están seguros. Esa es la prioridad”
    <br><br>
    <div class="text p-relative float-right font-w-bold cursive-text">Papa Francísco</div>
</div>