.text-container-left {
    padding: 7%;
    margin: 4% 4% 5% -8%;
    width: 96%;
    border-radius: 5px;
    box-shadow: 0 2px 5px #4c4c4c;
    display: flex;
}

.text-container-right {
    width: 86%;
    display: flex;
}

.line-text {
    line-height: 2vw;
}

.margin-image-1 {
    margin: 1.2% 0%;
    width: 80%;
}

.margin-image-2 {
    margin: 1.8% 0% 0% 0%;
    width: 80%;
}

.padding-title {
    padding: 4% 0%;
}

.padding-left-text {
    padding-left: 4%;
}

.title-gray{
    color: #383838;
    font-weight: 900;
}

.size-text-blue{
    padding: 5%;
}

.size-img-small{
    width: 35%;
}

.display-container{
    display: flex;
}

.margin-title{
    margin-left: 0%;
}